.main {
  position: relative;
  overflow: hidden;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  height: 100vh;
}
.left {
  background: var(--color-primary);
  padding-right: 8rem;
}
.right {
  background: var(--color-white);
  padding-left: 8rem;
}
.box img {
  width: 100%;
  max-width: 350px;
  margin-top: 3rem;
}
.card {
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 540px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
  background: var(--color-white);
  padding: 1rem;
  overflow-y: scroll;
}
/* width */
.card::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.card::-webkit-scrollbar-track {
  background: var(--color-primary-light);
}

/* Handle */
.card::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* Handle on hover */
.card::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
.card_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.heading {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  line-height: 52px;
}
.sub_heading {
  font-size: 18px;
  font-weight: 400;
}
.card_header p {
  font-size: 1rem;
  color: var(--color-gray);
}
.card_header p a {
  color: var(--color-primary-deep);
}
form {
  margin-top: 0.7rem;
}
.body label {
  width: 100%;
}
.body label p {
  font-size: 17px;
  margin-top: 0.4rem;
}
.body input {
  font-size: 14px;
  color: var(--color-gray);
  font-weight: 400;
  padding: 0.6rem 0.5rem;
  width: 100%;
  outline: none;
  border: 1.5px solid var(--color-gray);
  border-radius: 5px;
  height: 50px;
  overflow: hidden;
}
.password_field {
  position: relative;
}
.password_field span {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 40px;
  background: var(--color-white);
  height: 48px;
  font-size: 1.2rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.forgot_password {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}
.forgot_password a {
  color: var(--color-primary-deep);
}
.body button {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-white);
  background: var(--color-primary-deep);
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  margin-top: 1rem;
  padding: 0 0;
  height: 50px;
  cursor: pointer;
  box-shadow: var(--shadow-md);
}
.social_box {
  margin-top: 1rem;
}
.social_box .or {
  font-size: 1.1rem;
  text-align: center;
  color: #999;
  font-weight: 500;
}
.social_wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 0.8rem;
  margin-top: 1rem;
}
.social_wrapper button {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  outline: none;
  border: none;
  background: #eee;
  border-radius: 10px;
  cursor: pointer;
}
.social_wrapper button span {
  font-size: 1rem;
  padding-left: 1rem;
}
.social_wrapper button:first-child {
  background: #fff4e3;
  color: #e48700;
}
.social_wrapper button:nth-child(2) {
  color: #1299f6;
}
.social_wrapper button:nth-child(3) {
  color: #111;
}
.error{
  margin-top: 10px;
  background: #e83a3b;
  padding: 0.3rem 0;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  cursor:grab;
}