.sidebar{
    /* padding: 1rem; */
    height: 100%;
    background: var(--color-white);
}
.sidebar a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-primary-deep);
    background: var(--color-white);
    width: 100%;
    display: block;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
    cursor: pointer;
}
.sidebar a:hover{
    background: var(--color-bs-gray);
}